* {
  background-color: bisque;
}

.navbar {
  border-bottom: 2px solid black;
  background-color: rgba(230, 215, 215, 0.877);
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
}   

.navbar ul {
  padding:10px;
  list-style-type: none;
  display: inline;
  justify-content: space-between;
  background-color: rgba(230, 215, 215, 0.877);
  border-radius: 10px;
}

.navbar a {
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

.siteButtons {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e90ff;
  color: white;
  border: 0px;
  border-radius: 10px; 
  margin: 20px;
}

button:hover {
  background-color: #006ad5;
}

a {
  padding: 4px;
  border-radius: 20px;
  background-color: dodgerblue;
  color: black;
  border-radius: 10px;
}

input {
  background-color: white;
}

.messageBox {
  position: absolute;
  bottom: 0px;
}

.chatpage {
  padding-left: 10%;
  height: 75vh;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.typer {
  width:50%;
}

input:focus {
  outline: none;
}